<div id="app-body">
  <app-header/>
  <main>
    <div class="form">
      <app-input
        additionalClass="my-custom-input"
        name="search"
        icon="search"
        placeholder="Search for a country..."
        (changed)="setCountry($event)"
      />
      <app-dropdown
        placeholder="Filter by Region"
        [options]="options"
        (changed)="setRegion($event)"
      />
    </div>
    <div class="list-card">
      @if (loading) {
        <span id="loading" class="material-symbols-outlined">progress_activity</span>
      }@else {
        @for (item of countryList; track $index) {
          <app-card
            name={{item.name}}
            imagePath={{item.imagePath}}
            population={{item.population}}
            region={{item.region}}
            capital={{item.capital}}
        />
        }@empty {
          <p id="not">Not found 😕</p>
        } 
      }
    </div>
  </main>
</div>